@import url("https://fonts.googleapis.com/css2?family=Anton&family=Karla:ital,wght@0,200..800;1,200..800&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Passion+One:wght@400;700;900&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   min-height: 100vh;
   background-color: burlywood;
   background-image: url('./img/quiz.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   font-family: "Karla", sans-serif;
}
.container {
   width: 600px;
   min-height: 600px;
   margin: 30px auto;
   border: 2px solid silver;
   background-color: #f5f7fb;
   padding-top: 30px;
   padding-bottom: 25px;
   position: relative;
   display: flex;
   flex-direction: column;
}
.intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 180px;
}
.playagain-contain{
   display: flex;
   gap: 20px;
   align-self: center;
   align-items: center;
}
h1 {
   font-size: 31px;
   font-weight: 700;
   line-height: 36px;
   text-align: center;
   color: #293264;
   margin-bottom: 10px;
}
h3 {
   font-size: 13px;
   font-weight: 700;
   line-height: 15px;
   text-align: center;
   color: #293264;
}
p {
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   color: #293264;
}
button {
   font-family: "Inter", sans-serif;
   font-size: 10px;
   font-weight: 500;
   line-height: 12px;
   text-align: center;
   color: #f5f7fb;
   outline: 0;
   border: 0;
}
.start {
   width: 193px;
   height: 52px;
   border-radius: 15px;
   background-color: #4d5b9e;
   margin-top: 35px;
   font-size: 16px;
   line-height: 19px;
}
.blob5,
.blob3 {
   position: absolute;
   bottom: 0;
   left: 0;
}
.blob4,
.blob2 {
   position: absolute;
   top: 0;
   right: 0;
}
.blob2{
   width: 110px;
}
.question {
   margin-left: 60px;
   margin-right: 80px;
   margin-bottom: 15px;
   border-bottom: 0.79px solid #dbdef0;
}
.question p {
   font-weight: 700;
   margin-bottom: 10px;
   font-size: 14;
}
.answers {
   display: flex;
   gap: 13px;
}
.answers button {
   width: 80px;
   min-height: 21px;
   border-radius: 8px;
   color: #293264;
   background-color: transparent;
   border: 0.79px solid #4d5b9e;
   margin-bottom: 15px;
   padding: 2px;
}
.checkBtn,
.playagain {
   width: 120px;
   height: 35px;
   background-color: #4d5b9e;
   border-radius: 15px;
   font-weight: 600;
   align-self: center;
   margin-top: 5px;
}
.playagain{
   width: 104px;
   height: 30px;
}
.answers .selected {
   background-color: #d6dbf5;
   border: 0;
}
.answers .correct {
   background-color: #94d7a2;
   border: 0;
}
.answers .wrong {
   background-color: #f8bcbc;
}
.answers .incorrect{
   opacity: 0.5;
}
@media screen and (max-width:476px){
       .container{
           width: 100%;
           min-height: 100vh;
           margin: 0;
       }
       .intro{
         padding: 10px;
       }
       .intro p{
         text-align: center;
       }
       .answers{
         flex-direction: column;
         gap: 8px;
       }
       .question{
         margin-left: 30px;
       }
       .blob2{
         width: 100px;
       }
       .blob3{
         width: 45px;
       }
}
